{% set language = "nl" %}
{% set sortattr = "sort" %}

# {{ metadata.title }}

**Status**<br>
{{metadata.status}}

**Brondata**<br>
{{metadata.repositoryurl}}

**Changelog**<br>
{{metadata.changelogurl}}

**Opmerkingen en feedback**<br>
{{metadata.feedbackurl}}

**Standaardenregister**<br>
[{{metadata.standaardregisterurl}}]({{metadata.standaardregisterurl}})

**Afhankelijkheden**<br>
{% for dep in metadata.dependencies %}
[{{dep.packagelabel}}]({{ dep.packageurl }})
{% endfor %}

___

{% block introduction %}
<div class="vl-typography"><p id="introduction" class="vl-introduction pt-3"> 
Dit document beschrijft een <strong>implementatiemodel</strong>, in dit geval het <strong>{{ metadata.title }}</strong>. Een implementatiemodel is een toepassing van vocabularia voor een concreet doel. Het beschrijft in alle detail (zoals kardinaliteiten, codelijsten, datatypes, ...) de gewenste datastructuur.
</p></div>
{% endblock %}

## Samenvatting {{'{#summary}'}}

{% block summary %} 
Dit is een implementatiemodel van het applicatieprofiel [Adressenregister](https://data.vlaanderen.be/doc/applicatieprofiel/adresregister/).
De applicatie waarop dit profiel betrekking heeft is een Vlaamse adressenregister. Adresregistratie houdt in dat de beheerders van dit gegeven (in België de gemeenten) adressen en adrescomponenten officieel vaststellen en vastleggen in een register. Het Vlaamse adressenregister vormt zo de enige en unieke bron voor adressen in Vlaanderen.
Typisch voor een adressenregister is dat de adressen gestructureerd worden. Het adres is een op zichzelf staand object met een eigen identificator en levensloop en bestaat uit adrescomponenten die op hun beurt aan dezelfde kwalificaties voldoen. De adrescomponenten die we hier bedoelen zijn Gemeentenaam, Straatnaam en Postinfo.
Het profiel overstijgt het louter registreren van adressen omdat het bijkomend vastlegt hoe adressen er als attribuut van een ander gegeven moeten uitzien (datatype Adresvoorstelling) of welke bijkomende kenmerken (bv. het volledig adres) er nog van het geregistreerd adres kunnen worden uitgewisseld.
{% endblock %}


## Status van dit document {{'{#status}'}}

{% block status %}
Dit implementatiemodel heeft status [{{ metadata.statuslabel }}]({{metadata.status}}) en werd uitgegeven op {{ metadata.issued }}.

Informatie over het gevolgde proces en de beslissingen om tot deze specificatie te komen zijn beschikbaar in het [standaardenregister]({{metadata.standaardregisterurl}}).
{% endblock %}

## Licentie  {{'{#license}'}}

{% block license %}
Deze specificatie van [Digitaal Vlaanderen][] is gepubliceerd onder de ["Modellicentie Gratis Hergebruik - v1.0"][Licentie].
{% endblock %}

## Conformiteit  {{'{#comformence}'}}

{% block conformance %}
De conformiteit voor implementatiemodellen is [hier][https://data.vlaanderen.be/standaarden/standaard-in-ontwikkeling/conformiteitsraamwerk-voor-data-standaarden.html] te vinden.
{% endblock %}

## Overzicht  {{'{#overview}'}}
{% if ( ( classes | length > 0)   ) %}

In dit document wordt correct gebruik van de volgende entiteiten toegelicht:<br />
| {%- for class in classes |sort(attribute=sortattr) %}
<a href="#{{ class.name }}">{{ class.label[language] }}</a> |
{%- endfor %}

{% endif %}

{% if ( ( datatypes | length ) > 0 ) %}
In dit document worden de volgende datatypes toegelicht:            

|{%- for datatype in datatypes |sort(attribute=sortattr) %}
<a href="#{{ datatype.name }}">{{ datatype.label[language] }}</a> |

{%- endfor %}
{% endif %}

[![](/assets/oslo{{ documentroot }}/html/overview.jpg)](/assets/oslo{{ documentroot }}/html/overview.jpg)
{% block images %}
{% endblock %}

## Entiteiten

{% for entity in classes | sort(attribute=sortattr) %}

<h3 class="vl-title vl-title--h3" id="{{ entity.name }}" ><a href="{{ entity.uri }}" class="--tooltip --tooltip-right" data-content="{{ entity.uri }}">{{ entity.label[language] }}</a></h3>

**Beschrijving**<br>
{{ entity.description[language] }}

{% if entity.usage[language] %}
**Gebruik**<br>
{{ entity.usage[language] | safe }}
{% endif %}

{% if ((entity.parents | length) > 0 ) %} 
**Subklasse van**<br>
{%- for parent in entity['parents'] %}
    <a href="#{{ parent.scoped_uri | urlencode }}">{{ parent.label }}</a>{% if not loop.last %}, {% endif %}
{%- endfor %}
{% endif %}

**Eigenschappen**<br>
{% if ((entity.properties | length) > 0 ) %} 
Voor deze entiteit zijn de volgende eigenschappen gedefinieerd: {%- for prop in entity['properties'] | sort(attribute=sortattr) %}
<a href="#{{ (entity.name ~ ':' ~ prop.name) | urlencode }}">{{ prop.label[language] }}</a>{% if not loop.last %}, {% endif %}
{%- endfor %}.
{% else %}
Voor deze entiteit zijn geen eigenschappen gedefinieerd.
{% endif %}

{% if ((entity.properties | length) > 0 ) %} 
| Eigenschap | Verwacht Type | Kardinaliteit | Beschrijving | Gebruik | Codelijst |
|------------|---------------|---------------|--------------|---------|-----------|{% for prop in entity['properties'] | sort(attribute=sortattr) %}
| <a id="{{ (entity.name ~ ':' ~ prop.name ) | urlencode }}" href="{{ prop.uri }}" class="--tooltip --tooltip-right" data-content="{{ prop.uri }}">{{ prop.label[language] }}</a> | {% for range in prop.scopedrange %}{% if range['range_uri'] == range['range_puri'] %}<a href="{{ range['range_uri'] }}" class="--tooltip --tooltip-right" data-content="{{ range['range_uri'] }}">{{range['range_label'][language]}}</a>{% else %}<a href="{{ range['range_uri'] }}" class="--tooltip --tooltip-right" data-content="{{ range['range_uri'] }}">{{range['range_label'][language]}}</a>{% endif %}{% endfor %} | {{ prop.cardinality }} | {{ prop.description[language] }} | {{ prop.usage[language] | safe }} | {% if prop['codelist_uri'] %}[Link]({{ prop['codelist_uri'] }}){% endif %} |{% endfor %}{% endif %}
{% endfor %}

{% if datatypes %}
## datatypes
{% for entity in datatypes | sort(attribute=sortattr)%}
{% if entity.scopeduri %}
<h3 class="vl-title vl-title--h3" id="{{ entity.name }}" >
    <a href="{{ entity.scopeduri }}" class="--tooltip --tooltip-right" data-content="{{ entity.uri }}">{{ entity.label[language] }}</a>
</h3>{% else %}
<h3 class="vl-title vl-title--h3" id="{{ entity.name }}">
    <a href="{{ entity.uri }}" data-toggle="tooltip" data-content="{{ entity.uri }}" data-placement="right">{{ entity.label[language] }}</a>
</h3>{% endif %}
**Beschrijving**<br>{{ entity.description[language] }}
{% if entity.usage[language] %}**Gebruik**<br>{{ entity.usage[language] | safe }}{% endif %}
{% if ((entity.parents | length) > 0 ) %} 
**Subklasse van <br>
    {%- for parent in entity['parents'] %}
        [{{ parent.label }}]({{ parent.scoped_uri}}) {% if not loop.last %}, {% endif %}
    {%- endfor %}
{% endif %}
**Eigenschappen**<br>
{% if ((entity.properties | length) > 0 ) %} 
Voor dit datatype zijn de volgende eigenschappen gedefinieerd: {%- for prop in entity['properties'] | sort(attribute=sortattr) %}
<a href="#{{ (entity.name ~ ':' ~ prop.name) | urlencode }}">{{ prop.label[language] }}</a>{% if not loop.last %}, {% endif %}
{%- endfor %}.
{% else %}
Voor dit datatype zijn geen eigenschappen gedefinieerd.
{% endif %}
{% if ((entity.properties | length) > 0 ) %} 
| Eigenschap | Verwacht Type | Kardinaliteit | Beschrijving | Gebruik | Codelijst |
|------------|---------------|---------------|--------------|---------|-----------|{% for prop in entity['properties'] | sort(attribute=sortattr) %}
| <a id="{{ (entity.name ~ ':' ~ prop.name ) | urlencode }}" href="{{ prop.uri }}" class="--tooltip --tooltip-right" data-content="{{ prop.uri }}">{{ prop.label[language] }}</a> | {% for range in prop.scopedrange %}{% if range['range_uri'] == range['range_puri'] %}<a href="{{ range['range_uri'] }}" class="--tooltip --tooltip-right" data-content="{{ range['range_uri'] }}">{{range['range_label'][language]}}</a>{% else %}<a href="{{ range['range_uri'] }}" class="--tooltip --tooltip-right" data-content="{{ range['range_uri'] }}">{{range['range_label'][language]}}</a>{% endif %}{% endfor %} | {{ prop.cardinality }} | {{ prop.description[language] }} | {{ prop.usage[language] | safe }} | {% if prop['codelist_uri'] %}[Link]({{ prop['codelist_uri'] }}){% endif %} |{% endfor %}{% endif %}        

## JSON-LD context {{'{#jsonld}'}}
{% block jsonld %}
Een algemene JSON-LD context definitie voor dit implementatiemodel is terug te vinden op:
[/assets/oslo{{ documentroot }}/context/{{ metadata.filename }}.jsonld](/assets/oslo{{ documentroot }}/context/{{ metadata.filename }}.jsonld)

De json-ld context definities gebruikt in het basisregister API endpoint zijn

**Adres:**
- [adressen_detail.jsonld][]
- [adressen_list.jsonld][]

**Gemeente:**
- [gemeenten_detail.jsonld][]
- [gemeenten_list.jsonld][]

**Straatnaam:**
- [straatnamen_detail.jsonld][]
- [straatnamen_list.jsonld][]

**Postinfo:**
- [postinfo_detail.jsonld][]
- [postinfo_list.jsonld][]

{% endblock %}

## SHACL template {{'{#shacl}'}}
(niet normatief)
{% block shacl%}
Een herbruikbare SHACL template definitie voor dit implementatiemodel is terug te vinden op:
[/assets/oslo/{{ documentroot }}/shacl/{{ metadata.filename }}-SHACL.ttl](/assets/oslo/{{ documentroot }}/shacl/{{ metadata.filename }}-SHACL.ttl)
{% endblock %}

<!-- URLS -->
[Licentie]:https://data.vlaanderen.be/id/licentie/modellicentie-gratis-hergebruik/v1.0
[Informatie Vlaanderen]:http://vlaanderen.be/informatievlaanderen
[Comformiteit]:https://data.dev-vlaanderen.be/doc/begeleidend/implementatiemodellen/conformiteit

[adressen_detail.jsonld]:/assets/oslo{{ documentroot }}/html/context/adressen_detail.jsonld
[adressen_list.jsonld]:/assets/oslo{{ documentroot }}/html/context/adressen_list.jsonld

[gemeenten_detail.jsonld]:/assets/oslo{{ documentroot }}/html/context/gemeenten_detail.jsonld
[gemeenten_list.jsonld]:/assets/oslo{{ documentroot }}/html/context/gemeenten_list.jsonld

[straatnamen_detail.jsonld]:/assets/oslo{{ documentroot }}/html/context/straatnamen_detail.jsonld
[straatnamen_list.jsonld]:/assets/oslo{{ documentroot }}/html/context/straatnamen_list.jsonld

[postinfo_detail.jsonld]:/assets/oslo{{ documentroot }}/html/context/postinfo_detail.jsonld
[postinfo_list.jsonld]:/assets/oslo{{ documentroot }}/html/context/postinfo_list.jsonld
