{% extends "ap2.j2" %}

{% block summary %}
<p>
This is an application profile on existing vocabulary with regards to addresses including the <a href="https://data.vlaanderen.be/ns/adres">OSLO-Address Vocabulary</a>.
</p><p>
The application to which this profile relates is a (Belgian) address register. Address registration means that the administrators of this information (in Belgium these are the municipalities) officially identify addresses and address components and register them in a register. The address register is thus the only and unique source for addresses.
</p><p>
Typical for an address register is that the addresses are structured. The address is a self-contained object with its own identifier and life cycle and consists of address components that in turn meet the same qualifications. The address components here are City Name, Street Name and Post Info.
</p><p>
The profile exceeds the mere registration of addresses because it also specifies how addresses should look like attributes of another data (data type Address Display) or which additional features from the registered address (e.g. the full address) can still be exchanged.
</p><p>
Address registration requires certain cardinalities, e.g. a town name and a street name are always required. An address does not have to be assigned to an addressable object, this should allow to enter addresses before they are officially linked to e.g. a building unit or parcel.
</p><p>
Address registration requires certain cardinalities, e.g. a town name and a street name are always required. An address does not have to be assigned to an addressable object, this should allow to enter addresses before they are officially linked to e.g. a building unit or parcel.
</p><p>
The data type Address Display is subject to few restrictions, the only condition is that reference is made to the corresponding structured address in the case of a Belgian address.
</p><p>
The profile also records which code lists to use. In this case it concerns the code lists that are also used by <a href="http://inspire.ec.europa.eu/documents/Data_Specifications/INSPIRE_DataSpecification_AD_v3.0.pdf">INSPIRE-Address</a>, we have only translated the occuring values to dutch.
</p>
{% endblock %}


