{% extends "impl.j2" %}

{% block summary %}
<p>
Dit is een implementatie model gebasseerd op bestaande vocabularia en applicatie profiel m.b.t. adressen waaronder het <a href="https://data.vlaanderen.be/standaarden/vocabularium-adres">OSLO-Adres vocabularium</a> en <a href="https://data.vlaanderen.be/standaarden/applicatieprofiel-adresregister">OSLO applicatie profiel Adresregist</a> .
</p><p>
De implementatie waarop dit model betrekking heeft is de API end points voor het Vlaamse adressenregister: GRAR. Adresregistratie houdt in dat de beheerders van dit gegeven adressen en adrescomponenten officieel vaststellen en vastleggen in een register. Het adresregister vormt zo de enige en unieke bron voor adressen.
</p><p>
Typisch voor een adresregister is dat de adressen gestructureerd worden. Het adres is een op zichzelf staand object met een eigen identificator en levensloop en bestaat uit adrescomponenten die op hun beurt aan dezelfde kwalificaties voldoen. De adrescomponenten die we hier bedoelen zijn Gemeentenaam, Straatnaam en Postinfo.
</p>
{% endblock %}


