{% extends "impl.j2" %}

{% block summary %}
<p>
Dit is een implementatiemodel voor het adressenregister dat het applicatieprofiel <a href="https://data.vlaanderen.be/doc/applicatieprofiel/adresregister/">Adresregister</a>.
</p><p>
De applicatie waarop dit profiel betrekking heeft is een Vlaamse adresregister. Adresregistratie houdt in dat de beheerders van dit gegeven (in België de gemeenten) adressen en adrescomponenten officieel vaststellen en vastleggen in een register. Het Vlaamse adresregister vormt zo de enige en unieke bron voor adressen in Vlaanderen.
</p><p>
Typisch voor een adresregister is dat de adressen gestructureerd worden. Het adres is een op zichzelf staand object met een eigen identificator en levensloop en bestaat uit adrescomponenten die op hun beurt aan dezelfde kwalificaties voldoen. De adrescomponenten die we hier bedoelen zijn Gemeentenaam, Straatnaam en Postinfo.
</p><p>
Het profiel overstijgt het louter registreren van adressen omdat het bijkomend vastlegt hoe adressen er als attribuut van een ander gegeven moeten uitzien (datatype Adresvoorstelling) of welke bijkomende kenmerken (bv. het volledig adres) er nog van het geregistreerd adres kunnen worden uitgewisseld.
</p>
{% endblock %}

{% block jsonld %}
<p>Een algemene JSON-LD context definitie voor dit implementatiemodel is terug te vinden op: <a href="{{ documentroot }}/context/{{ metadata.filename }}.jsonld" target="_blank">{{ documentroot }}/context/{{ metadata.filename }}.jsonld</a></p>

<p>
De json-ld context definities gebruikt in het basisregister API endpoint zijn
</p>
<p>
Adres:
<ul>
<li><a href="{{ documentroot }}/html/context/adressen_detail.jsonld">adressen_detail.jsonld</a></li>
<li><a href="{{ documentroot }}/html/context/adressen_list.jsonld">adressen_list.jsonld</a></li>
</ul>
</p>
<p>
Gemeente:
<ul>
<li><a href="{{ documentroot }}/html/context/gemeenten_detail.jsonld">gemeenten_detail.jsonld</a></li>
<li><a href="{{ documentroot }}/html/context/gemeenten_list.jsonld">gemeenten_list.jsonld</a></li>
</ul>
</p>
<p>
Straatnaam:
<ul>
<li><a href="{{ documentroot }}/html/context/straatnaam_detail.jsonld">straatnamen_detail.jsonld</a></li>
<li><a href="{{ documentroot }}/html/context/straatnaam_list.jsonld">straatnamen_list.jsonld</a></li>
</ul>
</p>
<p>
Postinfo:
<ul>
<li><a href="{{ documentroot }}/html/context/postinfo_detail.jsonld">postinfo_detail.jsonld</a></li>
<li><a href="{{ documentroot }}/html/context/postinfo_list.jsonld">postinfo_list.jsonld</a></li>
</ul>
</p>
{% endblock %}
