{% extends "voc2.j2" %}

{% block summary %}
<p>
Dit Vocabularium is bestemd om het GRAR-Adres Implementatiemodel te ondersteunen. Het voegt concepten toe die niet aanwezig zijn in het <a href="https://data.vlaanderen.be/standaarden/vocabularium-adres">OSLO-Adres vocabularium</a> of het <a href="https://data.vlaanderen.be/standaarden/applicatieprofiel-adresregister">OSLO applicatie profiel Adresregist</a>, maar die nodig zijn om te voldoen aan de requirements van de GRAR APIs. 
</p>
{% endblock %}

