{% extends "voc2.j2" %}

{% block summary %}
<p>
Dit Vocabularium is bestemd om het GRAR-Gebouw Implementatiemodel te ondersteunen. Het voegt concepten toe die niet aanwezig zijn in het <a href="https://data.vlaanderen.be/standaarden/vocabularium-gebouw">OSLO-Gebouw vocabularium</a> of het <a href="https://data.vlaanderen.be/standaarden/applicatieprofiel-gebouwenregister">OSLO applicatie profiel Gebouwregister</a>, maar die nodig zijn om te voldoen aan de requirements van de GRAR APIs. 
</p>
{% endblock %}

