{% extends "impl.j2" %}

{% block summary %}
<p>
Dit is een implementatiemodel van het applicatieprofiel <a href="https://data.vlaanderen.be/doc/applicatieprofiel/gebouwenregister">OSLO Gebouwenregister</a>.
</p><p>
De applicatie waarop dit profiel betrekking heeft is een Gebouwenregister. Gebouwregistratie houdt in dat de beheerders van dit gegeven gebouwen en gebouweenheden officieel vaststellen en vastleggen in een register. Het Gebouwenregister vormt zo de enige en unieke bron voor gebouwinformatie.
</p><p>
De kardinaliteiten op attributen en associaties in het model van het <a href="https://overheid.vlaanderen.be/producten-diensten/gebouwen-adressenregister">Gebouwenregister</a> waarop OSLO-Gebouw is gebaseerd werden overgenomen en bleken maar op een paar punten af te wijken van deze in <a href="https://inspire.ec.europa.eu/data-specifications/2892">INSPIRE-Building</a>. Zo laat het Gebouwenregister slechts één geometrie toe (de referentiegeometrie) en zijn de gebouw- en gebouweenheidstatus verplicht, wat logisch is gezien de registratieopdracht van het register.
</p><p>
Voor de codelijsten wordt zoveel mogelijk verwezen naar de overeenstemmende lijsten in INSPIRE. Echter waar deze codelijsten niet 100% overeenstemmen en moeten worden uitgebreid/ingeperkt/afgestemd, kon nog geen verwijzing gebeuren.
</p>
{% endblock %}


{% block jsonld %}
<p>Een algemene JSON-LD context definitie voor dit implementatiemodel is terug te vinden op: <a href="{{ documentroot }}/context/{{ metadata.filename }}.jsonld" target="_blank">{{ documentroot }}/context/{{ metadata.filename }}.jsonld</a></p>

<p>
De json-ld context definities gebruikt in het basisregister API endpoint zijn
</p>
<p>
<ul>
<li>https://api.basisregisters.vlaanderen.be/v2/gebouwen/{objectId}: <a href="/html/context/gebouw_detail.jsonld">gebouw_detail.jsonld</a></li>
<li>https://api.basisregisters.vlaanderen.be/v2/gebouwen/{objectId}: <a href="/html/context/gebouw_detail.jsonld">gebouw_list.jsonld</a></li>
</ul>
</p>
<p>
<ul>
<li>https://api.basisregisters.vlaanderen.be/v2/gebouweenheden/{objectId}: <a href="/html/context/gebouweenheid_detail.jsonld">gebouweenheid_detail.jsonld</a></li>
<li>https://api.basisregisters.vlaanderen.be/v2/gebouweenheden/{objectId}: <a href="/html/context/gebouweenheid_detail.jsonld">gebouweenheid_list.jsonld</a></li>
</ul>
</p>
<p>
<ul>
<li>https://api.basisregisters.vlaanderen.be/v2/precelen/{objectId}: <a href="/html/context/perceel_detail.jsonld">preceel_detail.jsonld</a></li>
<li>https://api.basisregisters.vlaanderen.be/v2/precelen/{objectId}: <a href="/html/context/perceel_detail.jsonld">preceel_list.jsonld</a></li>
</ul>
</p>
{% endblock %}

